:root {
  --sl-content-width: 50rem;
  --sl-text-5xl: 3.5rem;
  --sl-font: "Jura", serif;
}

.main-pane {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/background.svg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.07;
    z-index: -1;
  }
}

:root[data-theme="light"] .main-pane {
  &::after {
    opacity: 0.05;
  }
}

a[rel="prev"],
a[rel="next"] {
  background-color: var(--sl-color-black);
  opacity: 0.8;
}

iframe {
  border: none;
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #282500;
  --sl-color-accent: #746c00;
  --sl-color-accent-high: #d1cc87;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #edeeef;
  --sl-color-gray-2: #c1c2c3;
  --sl-color-gray-3: #898c8e;
  --sl-color-gray-4: #56585a;
  --sl-color-gray-5: #36393a;
  --sl-color-gray-6: #252729;
  --sl-color-black: #171819;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #dddaa7;
  --sl-color-accent: #766e00;
  --sl-color-accent-high: #383400;
  --sl-color-white: #171819;
  --sl-color-gray-1: #252729;
  --sl-color-gray-2: #36393a;
  --sl-color-gray-3: #56585a;
  --sl-color-gray-4: #898c8e;
  --sl-color-gray-5: #c1c2c3;
  --sl-color-gray-6: #edeeef;
  --sl-color-gray-7: #f6f6f7;
  --sl-color-black: #ffffff;
}

