:root {
  --sl-content-width: 50rem;
  --sl-text-5xl: 3.5rem;
}

.main-pane {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/background.svg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
  }
}

a[rel="prev"],
a[rel="next"] {
  background-color: var(--sl-color-black);
  opacity: 0.8;
}

:root[data-theme="light"] .main-pane {
  &::after {
    opacity: 0.05;
  }
}

iframe {
  border: none;
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #252600;
  --sl-color-accent: #6d6f00;
  --sl-color-accent-high: #cacd98;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e8edff;
  --sl-color-gray-2: #b9c1dc;
  --sl-color-gray-3: #7a89bc;
  --sl-color-gray-4: #495584;
  --sl-color-gray-5: #2a3461;
  --sl-color-gray-6: #1a224d;
  --sl-color-black: #12172a;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #d8dbb3;
  --sl-color-accent: #6f7100;
  --sl-color-accent-high: #343500;
  --sl-color-white: #12172a;
  --sl-color-gray-1: #1a224d;
  --sl-color-gray-2: #2a3461;
  --sl-color-gray-3: #495584;
  --sl-color-gray-4: #7a89bc;
  --sl-color-gray-5: #b9c1dc;
  --sl-color-gray-6: #e8edff;
  --sl-color-gray-7: #f3f6ff;
  --sl-color-black: #ffffff;
}
