body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2rem;
}

#todoForm {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

table {
  & th {
    text-align: start;
  }
}

header {
  display: flex;
  align-items: center;

  & h1 {
    padding: 0;
    margin: 0;
  }

  & #todoForm {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    flex: 1;
    display: flex;

    & input {
      flex: 1;
      margin-right: 10px;
    }
  }
}
